img{
    width: 100%;
}

nav {
    font-family: 'Rubik', sans-serif;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 40px;
    width: 90vw;
}

span {
    float: right;
    margin-left: 5%;
}

nav.span {
    font-size: 20px;
    float: right;
}

.game {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-board {
    column-count: 4;
}

.square{
    height: 150px;
    width: 150px;
    margin: 20px;
    box-sizing: border-box;
    padding: 9%;
}

.square:hover{
    transform: scale(1.25);
    transition: 0.2s ease-in-out;
    
}

.square:nth-child(1){
    margin-top:0px;
}

.board-row {
    display:flex;
}